.cartContainer{
    display:flex;
    height:80vh;
    justify-content: center;
    align-items: center;
}



.CartImage{
    height:30vh;
}
.addItemcontainer{
    width:80vw;
    height:20vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;
}
.cartAddedImage{
    height:20vh;
}
.priceAddedItem{
    font-size: 20px;
    color:green;

}
.quantItems{
    font-size: 20px;
}
.totalAddedItem{
    font-size:20px;
  color:darkred;
}
.RemoveCartItem{
    width:10vw;
    height:5vh;
    background-color: blueviolet;
    border-radius:10px;
    border: none;
    color:black;
    font-size:15px;
}
.custom-div {
    background-color: white;
    color:black;
    padding: 20px;
    margin:20px;
    border: 2px solid #2980b9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    /* Add other styles as needed */
    width:90vw;
    height:15vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;
  }