.productDetailContainer{
  background-color: white;
    height:30vh;
    width:28vw;
    margin:20px;
    border-radius: 10px;
    text-align: center;
    padding:10px;
    box-shadow: 5px 5px lightblue;

}
.productImage{
    height:24vh;
   
}
.titleText{
    font-size:15px;
    font-family:sans-serif;
    font-weight: bolder;
}
.descriptionText{
    font-size:10px;
}