
.headerContainer{
    display:flex;
    justify-content:space-between;
    align-items: center;

}
.headerLogo{
    height:5vh;
    margin:30px;
 
}
.countDiv{
    width: 5vw;
    height:5vh;
    font-size:  20px;
    font-family: bold;
    background-color:yellow;
    margin-top: 0px;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
    color:black;
    text-align: center;
    padding-right: 2px;
}


.optionContainer{
    display:flex;
    width:25vw;
    justify-content: space-evenly;
    align-items: center;
    padding:20px;
   
    
}
.headerSection{
    color:#64748b;
    cursor: pointer;
    height:30px;
   
   
    
}
.logoutBtn{
    height:4vh;
    width: 5vw;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: #0b69ff;
    color:#ffffff;
    font-size:12px;
    font-weight: 500;
    cursor: pointer;
}