
.contentContainer{
    display:flex;
    justify-content: space-between;
    margin:40px;
}
.textContainer{
    width:50vw;
    margin:60px;
   
   
}
.heading{
    font-size: 40px;
    font-weight: 700;
    width:30vw;
}
.fashionText{
    font-size: 12px;
    width:40vw;
    color: #64748b;
    font-weight:500

}
.shopBtn{
    height:4vh;
    width:8vw;
    border-radius: 10px;
    border:none;
    background-color: #0b69ff;
    color:#ffffff;
    text-align:center;
}