.LoginFormContainer{
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
}

.LoginFormImages{
    height:50vh;
    width:50vw;
    margin-right: 10vw;
    

}
.loginFormDetailContainer{
    background-color:aqua;
    height:50vh;
    width:30vw;
    display:flex;
    flex-direction: column;
.LogoImageContainer{
    display: flex;
    justify-content: center;
}
   

}
.LoginLogo{
  height:5vh;
  width: 20vw;
  margin-top:10vh; 
  margin-bottom: 10px;    
}
.usernameText{
    font-size: 15px;
    margin:50px;

}
.inputText{
    margin-left:50px;
    height:20px;
    width:20vw;
    margin-bottom:10px;
    margin-top:4px;
}
.LoginButton{
    margin-left: 50px;
    margin-right: 50px;
    width:20.5vw;
    height:30px;
    margin-top: 10px;
    border-radius: 10px;
    border:none;
    background-color:  #0b69ff;
    color:#ffffff;
    font-size:15px;
}
.error-msg{
    color:red;
    margin-left:10vh;
    font-weight:500;
    font-family: sans-serif;
}