.productContainer{ 
    background-color: white;
    height:fit-content;
    margin-left: 20px;
    margin-right:20px;
    display:flex;
    flex-wrap: wrap; 
    align-items: center;
    height:100vh;

}
.fetching{
    font-size:30px;;
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
    width:100vw;
}



.productImage{
    height:30vh;
}