.ProductHeading{
    text-align: center;
    font-size: 50px;
    font-family: Roboto;
    font-weight: 500;
    font-style: oblique;
    color:rgb(197, 130, 238)

}
.categoryTag{
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    color:gold   
}

.Productdetailcontainer{
    display:flex;
    

}
.productIndividualImage{
    width:40vw;
    height:60vh;
    margin:20px;
}
.allDetailsContainer{
    width:50vw;
    height:50vh;
    margin:20px;
    
}
.priceTag{
    font-size: 25px;
    font-family: Roboto;
    font-weight: bold;
    color:green

}
.rateTag{
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    color:rgb(173, 230, 210)

}
.countTag{
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    color:rgb(238, 144, 213)

}
.titleTag{
    margin-bottom: 0px;
    width:50vw;
    font-size:40px;
    font-family: Roboto;
    font-weight: 500;
    color:cadetblue
}
.descriptionTag{
 
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    color:chocolate
    
}
.btn{
    height:5vh;
    width:8vw;
    border:none;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    background-color:goldenrod;
    color:black;
    margin-right:20px;
    margin-top:20px;
}

  
  .btn.added {
        background-color: #ccc; /* Background color for disabled button */
        color: #666; /* Text color for disabled button */
        cursor: not-allowed; /* Change cursor style for disabled button */
  }